name: Python application CI

on:
  push:
    branches: [ "main",'test-pipeline' ]
  pull_request:
    branches: [ "main",'test-pipeline' ]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.14"]

    steps:
      - uses: actions/checkout@v4
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install pytest # Install pytest
          pip install pytest pytest-cov
          # Add any other project dependencies here
      - name: Run tests
        run: |
          pytest --junitxml=report.xml --cov=strictabc --cov-report=xml:coverage.xml
